body{
    font-family: 'Berkshire Swash', cursive;
    background-image: linear-gradient(to bottom, #0544a1, #0061b0, #00749c, #008270, #078b40);
    background-repeat:no-repeat;
    border-left:5px groove red;
    border-right:5px groove red;
  }
  .centered {
    
    text-align: center;
    /* margin-top: 80px; */
  }
  
  .logo{
      border-radius: 50%;border:5px solid  rgb(28, 6, 128);
      width: 25%;
      height: 25%;
      margin-bottom: 10px;
  }
  .title{
    
      letter-spacing: 5px;
      word-spacing:  18px;
      font-weight: bolder;
      font-size: 50px;
      color:ivory;
      margin-bottom: 70px;;
      }

  .button{
      margin-top: 20px;
    text-align: center;
    
  }
  footer{
    margin-top: 29px;
      text-align: center;
      background: rgb(182, 233, 212);
      padding: 2px;
      
  }