body{
    background-image:url('success.jpg');
    background-size: 100%;
}
p{
    text-align: center;
    padding: 20px;
    margin-top: 45vh;
    font-family: 'Berkshire Swash', cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: bolder;
}